/* .res_card{
    border: 1px solid lightgrey;
   
    height: 400px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background: rgb(228, 226, 226);
}
.res_card:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: 1s;
    transform: translateY(-15px);
    cursor: pointer;
}
.res_logo{
       width: 100%;
}
.heading{
    margin: 5px;
    color: black;
}
.heading1{
    color: rgb(250, 164, 5);
    
}


img{
    border: 1px solid lightgrey;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
} */