/* .search{
    padding: 10px;
    margin: 10px;
}

.restro_container{
    display: flex;
    flex-wrap: wrap;
    
}
.filter{
    display: flex;
    justify-content: center;
    position: relative;
}


.filter_btn{
   
    
    display: flex;
    justify-content: flex-end !important;
    padding: 10px;
    background-color: darkgray;
    color: black;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
   
}
.search_div{
       
}


.filter_btn_div{
    width: fit-content;
    align-items: flex-end !important;
   
    position: relative;
    left: 30%;
}
.Searchbox{
   
}
.search_btn{
    margin:0px 0px 0px 40px;
    padding: 5px 20px;
}
.inputSearch{
    height: 40px;
    width: 400px;
    border-radius: 20px;
    font-size: 25px;
   
} */