/* .res_cardmenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y:auto ;
}



.card_menu{
    border: 1px solid black;
    width: 50%;
  
} */