/* .main_About{
    border: 2px solid black;
    height: 90vh;
    width: 80vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.img{
    height: 250px;
    width: 250px;
   
}

.heading{
    font-size: 20px;
} */